[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "lib/gym"]
	path = lib/gym
	url = https://github.com/jamesbut/gym.git
[submodule "lib/libfort"]
	path = lib/libfort
	url = git@github.com:seleznevae/libfort.git
